@model AlmostAdmin.ViewModels.QuestionsViewModel

<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

        @foreach (var question in Model.Questions)
        {
            <div class="card mb-3 project-cards">
                <div class="card-body">

                    <h5>Вопрос:</h5>
                    <p>
                        @question.Text
                    </p>
                    <h5>Ответ:</h5>

                    @if (question.HasApprovedAnswer)
                    {
                        <span class="badge badge-success table-answer__pill badge-pill">Ответил Модератор</span>

                        <p>
                            @question.Answer.Text
                        </p>

                        <div class="dropdown dropright project-card-actions">
                            <button style="cursor: pointer; background: none; border: none;color: lightgray"
                                    class="dropdown" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button" onclick="answerOnQuestion(@question.Id)">Изменить ответ</button>
                                <button class="dropdown-item" type="button" onclick="showSimilarTo(@question.Id)">Показать похожие</button>
                            </div>
                        </div>
                        @*<a href="#" class="badge badge-dark" onclick="answerOnQuestion(@question.Id, event)">
                                Изменить ответ
                            </a>
                            <a href="#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                Показать похожие
                            </a>*@
                    }
                    else if (question.Answer != null)
                    {
                        <span class="badge badge-warning table-answer__pill badge-pill">Ответила система</span>

                        <p>
                            @question.Answer.Text
                        </p>

                        <div class="dropdown dropright project-card-actions">
                            <button style="cursor: pointer; background: none; border: none;color: lightgray"
                                    class="dropdown" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button" onclick="approveSystemAnswer(@question.Id, @question.Answer.Id, false)">Подтвердить ответ</button>
                                <button class="dropdown-item" type="button" onclick="answerOnQuestion(@question.Id)">Изменить ответ</button>
                                <button class="dropdown-item" type="button" onclick="showSimilarTo(@question.Id)">Показать похожие</button>
                            </div>
                        </div>
                        @*<a href="#" class="badge badge-success" onclick="approveSystemAnswer(@question.Id, @question.Answer.Id)">
                                Подтвердить ответ
                            </a>
                            <a href="#" class="badge badge-dark" onclick="toggleAnswerOnQuestionModal(@question.Id, event)">
                                Изменить ответ
                            </a>
                            <a href="#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                Показать похожие
                            </a>*@
                    }
                    else
                    {
                        <span class="badge badge-light table-answer__pill badge-pill">Без ответа</span>

                        <p>
                            Этот вопрос еще без ответа!
                        </p>


                        <div class="dropdown dropright project-card-actions">
                            <button style="cursor: pointer; background: none; border: none;color: lightgray"
                                    class="dropdown" type="button" id="dropdownMenu2"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button" onclick="answerOnQuestion(@question.Id)">Ответить</button>
                                <button class="dropdown-item" type="button" onclick="showSimilarTo(@question.Id)">Показать похожие</button>
                            </div>
                        </div>

                        @*<a href = "#" class="btn btn-sm btn-outline-success btn-lg btn-block" onclick="answerOnQuestion(@question.Id, event)">
                                Ответить
                            </a>
                            <a href = "#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                Показать похожие
                            </a>*@
                    }

                    <hr />
                    <div class="table-tags">
                        <b>Теги:</b>
                        [
                        @if (question.QuestionTags.Count() > 0)
                        {
                            @foreach (var tag in question.QuestionTags)
                            {
                                <span>@tag.Tag.Text,</span>
                            }
                        }
                        else
                        {
                            @: <span style="color:gray">без тегов</span>
                        }
                        ]
                    </div>
                    @*<span class="badge badge-pill badge-primary mr-2">Primary</span>
                        <span class="badge badge-pill badge-success mr-2">Success</span>
                        <span class="badge badge-pill badge-danger mr-2">Danger</span>
                        <span class="badge badge-pill badge-warning mr-2">Warning</span>*@
                </div>
            </div>
        }
    </div>
    @*<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>*@
</div>

<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="text-align:center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <button class="page-link" onclick="LoadTableDataForPage(@Model.PageViewModel.PageNumber - 1)">
                        Предыдущая
                    </button>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">Предыдущая</a></li>
            }

            @for (int i = 1; i < 1 + Model.PageViewModel.TotalPages % 5; i++)
            {
                <li class="page-item active"><a class="page-link" href="#">@i</a></li>
            }

            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <button class="page-link" onclick="LoadTableDataForPage(@Model.PageViewModel.PageNumber + 1)">
                        Следующая
                    </button>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link" href="#">Следующая</a></li>
            }
        </ul>
    </nav>
</div>

@if (Model.PageViewModel.HasNextPage)
{
    <button class="" onclick="LoadTableDataForPage(@Model.PageViewModel.PageNumber + 1)">
        Вперед
    </button>
}


@*




    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="55%">Текст вопроса</th>
                <th scope="col" width="45%">Ответы</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var question in Model.Questions)
            {
                <tr>
                    <td width="55%">
                        @question.Text
                        <br />
                        <div class="table-tags">
                            <b>Теги:</b>
                            [
                            @if (question.QuestionTags.Count() > 0)
                            {
                                @foreach (var tag in question.QuestionTags)
                                {
                                    <span>@tag.Tag.Text,</span>
                                }
                            }
                            else
                            {
                                @: <span style="color:gray">без тегов</span>
                            }
                            ]
                        </div>
                    </td>
                    <td width="45%">
                        @if (question.AnsweredByHuman)
                        {
                            <span class="badge badge-success table-answer__pill badge-pill">Ответил Модератор</span>
                            @question.Answer.Text <br />
                            <a href="#" class="badge badge-dark" onclick="answerOnQuestion(@question.Id, event)">
                                Изменить ответ
                            </a>
                            <a href="#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                Показать похожие
                            </a>
                        }
                        else if (question.Answer != null)
                        {
                            <span class="badge badge-warning table-answer__pill badge-pill">Ответила Система</span>
                            @question.Answer.Text <br />

                            <a href="#" class="badge badge-success" onclick="approveSystemAnswer(@question.Id, @question.Answer.Id, event)">
                                Подтвердить ответ
                            </a>
                            <a href="#" class="badge badge-dark" onclick="toggleAnswerOnQuestionModal(@question.Id, event)">
                                Изменить ответ
                            </a>
                            @*<button class="badge badge-dark" data-toggle="modal" data-target="#answerOnQuestionModal" type="button">
                                Изменить ответ
                            </button>*
                            <a href="#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                Показать похожие
                            </a>
                        }
                        else
                        {
                            <span class="badge badge-light table-answer__pill badge-pill">Без ответа</span>
                            <span>
                                Этот вопрос еще без ответа!<br />
                                <!--<button class="btn btn-sm btn-outline-success btn-lg btn-block" data-toggle="modal" data-target="#answerOnQuestionModal" type="button">
                                    Ответить
                                </button>-->

                                <a href="#" class="btn btn-sm btn-outline-success btn-lg btn-block" onclick="answerOnQuestion(@question.Id, event)">
                                    Ответить
                                </a>
                                <a href="#" class="badge badge-info" onclick="showSimilarTo(@question.Id, event)">
                                    Показать похожие
                                </a>
                            </span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

*@