@model Project
@{
    ViewData["Title"] = "Index";

    var owner = Model.UserProjects.First().User;
}

@*<ol>
        <li><a asp-action="Questions">Список вопросов за всё время</a></li>
        <li><a asp-action="Answers">Список ответов за всё время</a></li>
    </ol>*@
<br />


<div>
    <div>
        @*<div class="row">
            <div class="col-auto"></div>
            <div>
                <span class="fa fa-arrow-circle-right" onclick="console.log('1')"></span>
                В кабинет
            </div>
        </div>*@
        <h1 class="display-4">
            @Model.Name
        </h1>
        <hr />

        <ul class="nav nav-tabs justify-content-center nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><span class="fa fa-comments"></span> Вопросы и Ответы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><span class="fa fa-users"></span> Участники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><span class="fa fa-cogs"></span> Настройки</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            @*////////////////////////////////////////////////////////////////////////*@
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row" style="padding-top:50px">
                    <div class="col-3">
                        @*<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Вопросы / Ответы</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Участники</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Настройки</a>
                        </div>*@
                        <ul class="list-group" id="mainSortUl">
                            <li class="list-group-item" onclick="SelectNavItem(0)">Все</li>
                            <li class="list-group-item" onclick="SelectNavItem(1)">Ответ от системы</li>
                            <li class="list-group-item" onclick="SelectNavItem(2)">Без ответа</li>
                            <li class="list-group-item" onclick="SelectNavItem(3)">Ответ от модератора</li>
                        </ul>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            @*<div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-align-left"></i> Фильтрация
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="list-group" id="mainSortUl">
                                        <li class="list-group-item" onclick="SelectNavItem(0)">Все</li>
                                        <li class="list-group-item" onclick="SelectNavItem(1)">Ответ от системы</li>
                                        <li class="list-group-item" onclick="SelectNavItem(2)">Без ответа</li>
                                        <li class="list-group-item" onclick="SelectNavItem(3)">Ответ от модератора</li>
                                    </ul>
                                </div>
                            </div>*@

                            <div class="col-3">
                                <button class="btn btn-success" data-toggle="modal" data-target="#createQuestionModal" type="button"><i class="fas fa-plus"></i> Создать вопрос</button>
                            </div>
                            <div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                                    </div>
                                    <input id="tagTextInput" type="text" class="form-control" placeholder="Слово для поиска.." aria-label="" aria-describedby="basic-addon1">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-outline-secondary" type="button" onclick="addSearchingTag($('#tagTextInput').val())">Добавить</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="searchingTagsContainer" style="border:2px">

                        </div>

                        <div>
                            <img id="loading-image" src="~/images/25.gif" alt="Loading questions list" style="margin-top:100px;margin-left:50%;margin-bottom:100px" />
                            <div id="questionsTableContainer">
                            </div>
                            @* scroll bar *@
                        </div>
                    </div>
                </div>
            </div>
            @*////////////////////////////////////////////////////////////////////////*@
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <h4 class="m-3">Активность участников проекта</h4>
                <div id="container" class="" style="min-width: 365px; max-width: 800px; height: 300px; margin: 0 auto"></div>

                <h4 class="m-3"> Участники проекта</h4>
                <div class="bg-light">
                    <div class="project-users-button mb-2">
                        @if (owner.Email.Equals(User.Identity.Name))
                        {
                            <button class="btn btn-sm btn-outline-dark" onclick="showInviteNewUsersModal()">Пригласить</button>
                            @*<button class="btn btn-sm btn-outline-dark" onclick="usersStats(@Model.Id)">Статистика</button>*@
                        }
                    </div>
                    @Html.Partial("_ProjectUsers", Model.UserProjects.Select(up => up.User))
                </div>
            </div>
            @*////////////////////////////////////////////////////////////////////////*@
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <h4 class="m-3">Данные для API</h4>
                <div class="row">
                    <div class="col-md-4">

                        <div class="form-group">
                            <label>Идентификатор:</label>
                            <input type="text" value="@Model.Id" class="form-control col-md-4" readonly />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Приватный ключ:</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="text" class="form-control col-md-10" value="@Model.PrivateKey" aria-label="Username" aria-describedby="basic-addon1" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card project-cards">
                        <div class="card-body">
                            <h5 class="card-title">Вы можете установить приоритет отправки ответов</h5>
                            <p class="card-text">

                                В случае, если Вы хотите получать ответы в режиме онлайн без подтверждения администрацией
                                Вы можете активировать опцию "Быстрые ответы", и система сама будет подбирать возможный ответ
                                <span style="color:forestgreen">* Ответ на вопрос будет в ожидании подтверждения человеком и если он изменится, ответ будет отправлен на Ваш ресурс повторно!</span>
                            </p>
                            @if (!Model.AnswerWithoutApprove)
                            {
                                <button class="btn btn-success" onclick="switchFastAnswers()">Активировать "Быстрые ответы"</button>
                            }
                            else
                            {
                                <button class="btn btn-danger" onclick="switchFastAnswers()">Деактивировать "Быстрые ответы"</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*////////////////////////////////////////////////////////////////////////*@

        </div>
    </div>
</div>


@* Модальное окно для СОЗДАТЬ ВОПРОС *@
<div class="modal fade" id="createQuestionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Создать вопрос</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="newQuestionInput" name="questionText" cols="40" rows="3" placeholder="Введите текст вопроса"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createNewQuestion($('#newQuestionInput').val())">Создать вопрос</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@* Модальное окно для ОТВЕТИТЬ НА ВОПРОС *@
<div class="modal fade" id="answerOnQuestionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ответить на вопрос</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="answerOnQuestionIdInput" value="" />
                <textarea name="questionText" id="answerOnQuestionInput" class="col-md-12" rows="3" placeholder="Введите текст ответа"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="sendAnswerOnQuestion($('#answerOnQuestionInput').val())">Ответить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@* Модальное окно для ПОКАЗАТЬ ПОХОЖИЕ *@
<div class="modal fade" id="showSimilarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Список похожих</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="similarQuestionsContainer">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@* Модальное окно для ДОБАВИТЬ ТЭГ *@
<div class="modal fade" id="addQuestionTagModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Напишите тэг относящийся к этому вопросу</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="addTagForQuestionIdInput" value="" />
                <input name="questionText" id="addQuestionTag" class="col-md-12" rows="3" placeholder="Введите текст ответа" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addQuestionTag($('#addQuestionTag').val())">Добавить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

@* Модальное окно для ДОБАВИТЬ НОВОГО ПОЛЬЗОВАТЕЛЯ *@
<div class="modal fade" id="addNewUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Напишите почту пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input name="questionText" type="email" id="addNewUserEmailInput" class="col-md-12" rows="3" placeholder="Введите почту" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="inviteNewUsers($('#addNewUserEmailInput').val())">Добавить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

@*<div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Вы успешно добавили тэг <strong id="alertTagText"></strong>
    </div>*@

@*<div id="prompt-form-container">
        <form id="prompt-form">
            <div id="prompt-message"></div>
            <input name="text" type="text">
            <input type="submit" value="Ответить">
            <input type="button" name="cancel" value="Отмена">
        </form>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="~/lib/toasts/pnotify.custom.min.js"></script>
    <script>

        @*function toggleAnswerOnQuestionModal(questionId, event) {
            event.preventDefault();

            console.log('ID:', questionId);

            $('#answerOnQuestionModal').modal('toggle');


            $.post('@Url.Action("Answer")',
            {
                projectId: @Model.Id,
                questionId: questionId,
                answerText: value
            },
            function (response) {
                LoadTableDataForCurrentPage();
            });
        }*@

        var currentPage = 1;
        var currentPriority = null;
        var currentText = null;
        var searchingTags = [];

        function LoadFilteredData(page, priority, text) {
            $('#loading-image').show();
            $('#questionsTableContainer').hide();

            $.post('@Url.Action("GetProjectQuestions")',
            {
                projectId: @Model.Id,
                page: page,
                priority: priority,
                text: text
            },
            function (response) {
                currentPage = page;
                currentPriority = priority;
                currentText = text;

                //$('#loading-image').hide();
                $('#loading-image').hide();
                $('#questionsTableContainer').show();

                $("#questionsTableContainer").html(response);
            });
        }

        function LoadTableDataForPage(page) {
            LoadFilteredData(page, currentPriority, currentText);
        }

        function LoadTableDataForCurrentPage() {
            LoadFilteredData(currentPage, currentPriority, currentText);
        }

        // priority: 0-all, 1-system, 2-empty, 3-human
        function filterQuestions(priority, text) {
            LoadFilteredData(currentPage, priority, text);
        }

        function filterQuestionsByPriority(priority) {
            currentPage = 1;
            filterQuestions(priority, currentText);
        }

        function filterQuestionsByText(text) {
            currentPage = 1;
            filterQuestions(currentPriority, text);
        }

        function SelectNavItem(itemId) {
            filterQuestionsByPriority(itemId);

            var lis = $("#mainSortUl > LI");

            $.each(lis, function (i) {
                if (i == itemId) {
                    $(this).addClass('active');
                }
                else {
                    $(this).removeClass('active');
                }
            });
        }

        SelectNavItem(0); // Загружаем всю инфу для 1 страницы

        function addSearchingTag(tagText) {

            var newTagHtml =
                '<span id="searchingTags' + searchingTags.length + '" class="badge badge-primary">' +
                    tagText +
                    //'<a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>' +
                    '<button type="button" onclick="removeSearchingTag(' + searchingTags.length + ',\'' + tagText + '\')" class="close" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span>' +
                    '</button>'+
                '</span>';

            $('#searchingTagsContainer').append(newTagHtml);

            searchingTags.push(tagText);

            var filterText = "";
            for (var i = 0; i < searchingTags.length; i++) {
                filterText += searchingTags[i] + ',';
            }
            console.log(filterText);
            console.log(newTagHtml);


            //<span class="tag label label-info">
            //  <span>Example Tag</span>
            //  <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
            //</span>

            filterQuestionsByText(filterText);
        }

        function removeSearchingTag(tagId, tagText) {
            // Delete html tag
            var tagHtmlId = '#searchingTags' + tagId;
            $(tagHtmlId).remove();
            // Remove from tag list
            var index = searchingTags.indexOf(tagText);
            if (index > -1) {
                searchingTags.splice(index, 1);
            }

            var filterText = "";
            for (var i = 0; i < searchingTags.length; i++) {
                filterText += searchingTags[i] + ',';
            }

            console.log(filterText);
            console.log(searchingTags);

            filterQuestionsByText(filterText);
        }

        //function showAddQuestionTagModal(questionId) {
        //    $('#addTagForQuestionIdInput').val(questionId);
        //    $('#addQuestionTagModal').toggle();
        //}

        function addQuestionTag(questionId) {//, tagText) {
            var inputIdentifier = '#tagInputForQuestion' + questionId;
            var textVal = $(inputIdentifier).val();

            if (!textVal) {
                alert("Текст тэга не может быть пустым!");
                return;
            }

            $.post('@Url.Action("AddQuestionTag")',
                {
                    projectId: @Model.Id,
                    questionId: questionId,//$('#addTagForQuestionIdInput').val(),
                    tagText: textVal//tagText
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }
                    else {
                        new PNotify({
                            title: 'Успех!',
                            text: 'Вы добавили тэг <strong>' + textVal + '</strong>',
                            type: 'success'
                        });
                        LoadTableDataForCurrentPage();
                    }
                });
        }

        function removeQuestionTag(questionId, tagId) {
            $.post('@Url.Action("RemoveQuestionTag")',
                {
                    projectId: @Model.Id,
                    questionId: questionId,
                    tagId: tagId
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }
                    else {
                        new PNotify({
                            title: 'Успех!',
                            text: 'Вы убрали тэг',
                            type: 'success'
                        });
                        LoadTableDataForCurrentPage();
                    }
                });
        }

        /////////////////////////////////////////// CHART ///////////////////////////////////////////
        @{
            var users = Model.UserProjects.Select(up => up.User.UserName);
            var answers = Model.UserProjects.Select(up => up.User.Answers.Count());

            var dictionary = users.Zip(answers, (k, v) => new { k, v } )
              .ToDictionary(x => x.k, x => x.v);
        }

        var usersList = [];
        var answersList = [];

        @foreach(var kvp in dictionary)
        {
            @: usersList.push('@kvp.Key');
            @: answersList.push(@kvp.Value);
        }

        Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: null//'Активность участников проекта',

            },
            xAxis: {
                categories: usersList,
                labels: {
                    rotation: -45
                }
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'Отвеченные вопросы'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'Ответы',
                data: answersList
            }]
            //}, {
            //    name: 'Jane',
            //    data: [2, 2, 3, 2, 1]
            //}, {
            //    name: 'Joe',
            //    data: [3, 4, 4, 2, 5]
            //}]
        });

        function switchFastAnswers() {
            $.post('@Url.Action("SwitchFastAnswers")',
                {
                    projectId: @Model.Id
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }

                    window.location = window.location;
                });
        }

        function showInviteNewUsersModal() {
            $('#addNewUserModal').modal('toggle');
        }

        function inviteNewUsers(emailToInvite) {
            $.post('@Url.Action("InviteUser")',
                {
                    projectId: @Model.Id,
                    emailToInvite: emailToInvite
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }

                    new PNotify({
                        title: 'Успех!',
                        text: 'Пользователь добавлен в проект!',
                        type: 'success'
                    });
                    alert("Пользователь успешно добавлен в проект!");
                    window.location = window.location;
                });
        }

        function createNewQuestion(questionText) {
            $.post('@Url.Action("CreateQuestion")', //$('#myForm').serialize(),
                {
                    projectId: @Model.Id,
                    questionText: questionText
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }
                    $('#createQuestionModal').modal('toggle');
                    new PNotify({
                        title: 'Успех!',
                        text: 'Вы создали новый вопрос.',
                        type: 'success'
                    });
                    $('#newQuestionInput').val('');
                    LoadTableDataForCurrentPage();
            });
        }

        // Shows modal with textbox for answerText
        function editAnswer(questionId, currentText) {
            $('#answerOnQuestionInput').val(currentText);
            $('#answerOnQuestionIdInput').val(questionId);
            $('#answerOnQuestionModal').modal('toggle');
        }
        function answerOnQuestion(questionId) {
            $('#answerOnQuestionInput').val("");
            $('#answerOnQuestionIdInput').val(questionId);
            $('#answerOnQuestionModal').modal('toggle');
        }

        function sendAnswerOnQuestion(answerText) {
            $.post('@Url.Action("Answer")',
                {
                    projectId: @Model.Id,
                    questionId: $('#answerOnQuestionIdInput').val(),
                    answerText: answerText
                },
                function (response) {

                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }
                    $('#answerOnQuestionModal').modal('toggle');

                    new PNotify({
                        title: 'Успех!',
                        text: 'Вы ответили на вопрос.',
                        type: 'success'
                    });
                    LoadTableDataForCurrentPage();
                });
        }

        function approveSystemAnswer(questionId, answerId, fromModal) {
            $.post('@Url.Action("Approve")',
                {
                    projectId: @Model.Id,
                    questionId: questionId,
                    answerId: answerId
                },
                function (response) {
                    if (fromModal)
                        $('#showSimilarModal').modal('toggle');

                    LoadTableDataForCurrentPage();
                });
        }

        function showSimilarTo(questionId) {
            event.preventDefault();
            $.post('@Url.Action("GetSimilar")',
                {
                    projectId: @Model.Id,
                    questionId: questionId
                },
                function (response) {
                    $('#similarQuestionsContainer').html(response);
                    $('#showSimilarModal').modal('toggle');
                });
        }

        function deleteQuestion(questionId) {
            event.preventDefault();
            $.post('@Url.Action("DeleteQuestion")',
                {
                    projectId: @Model.Id,
                    questionId: questionId
                },
                function (response) {
                    if (!response.success) {
                        new PNotify({
                            title: 'Oh No!',
                            text: response.message,
                            type: 'error'
                        });
                        return;
                    }
                    new PNotify({
                        title: 'Успех!',
                        text: 'Вы удалили вопрос.',
                        type: 'success'
                    });
                    LoadTableDataForCurrentPage();
                });
        }

        function removeProjectMember(userId) {

            $.post('@Url.Action("RemoveProjectMember")',
                {
                    projectId: @Model.Id,
                    userId: userId
                },
                function (response) {
                    window.location = window.location;
                });
        }
    </script>
}

