@model Project
@{
    ViewData["Title"] = "Index";
}

<ol>
    <li><a asp-action="Questions">Список вопросов за всё время</a></li>
    <li><a asp-action="Answers">Список ответов за всё время</a></li>
</ol>

<table>
    @foreach (var question in Model.Questions)
    {
        <tr>
            <td>
                @question.Text [
                @foreach (var tag in question.QuestionTags)
                {
                    <span>@tag.Tag.Text,</span>
                }]
            </td>
            <td>
                @if (question.AnsweredByHuman)
                {
                    <span>
                        (Человек): @question.Answer.Text
                        <button onclick="answerOnQuestion(@question.Id)">
                            Изменить ответ
                        </button>
                        // TODO: тут предлагать выбор из возможных похожих вопросов и ответов к ним
                    </span>
                }
                else if (question.Answer != null)
                {
                    <span>
                        (Система): @question.Answer.Text
                        <button onclick="answerOnQuestion(@question.Id)">
                            Изменить ответ
                        </button>
                        // TODO: тут предлагать выбор из возможных похожих вопросов и ответов к ним
                    </span>
                }
                else
                {
                    <span>
                        Этот вопрос еще без ответа!
                        <button onclick="answerOnQuestion(@question.Id)">
                            Ответить
                        </button>
                        // TODO: тут предлагать выбор из возможных похожих вопросов и ответов к ним
                    </span>
                }
            </td>
        </tr>
    }
</table>

<form onsubmit="createNewQuestion(event)" id="myForm">
    <input name="projectId" type="hidden" value="@Model.Id" />
    <input name="questionText" title="Введите текст вопроса" />
    <button type="submit">Создать</button>
</form>


<div id="prompt-form-container">
    <form id="prompt-form">
        <div id="prompt-message"></div>
        <input name="text" type="text">
        <input type="submit" value="Ответить">
        <input type="button" name="cancel" value="Отмена">
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    function createNewQuestion(event) {
        event.preventDefault();

        $.post('@Url.Action("CreateQuestion")', $('#myForm').serialize(),
            function () {
                window.location = window.location;
        });
     }

        // TODO: move this function to global js file
        function answerOnQuestion(questionId) {
            showPrompt("Введите ответ на вопрос:", function (value) {
                $.post('@Url.Action("Answer")',
                    {
                        projectId: @Model.Id,
                        questionId: questionId,
                        answerText: value
                    },
                    function (response) {
                        // TODO: make ajax updated table
                        window.location = window.location;
                    });
            });
        }
</script>
}
<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

 Modal
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
