@model List<Project>
@{
    ViewData["Title"] = "Главная страница";
}

<p>Проекты с которыми связан Ваш аккаунт.</p>
<p style="font-style:italic">Eсли Вы не можете найти среди перечисленных нужный - запросите приглашение у создателя проекта!</p>
<p style="color:yellowgreen">
    // TODO: тут будет появляться форма с вводом почты создателя проекта и проверки на сервере зареган ли он у нас и отправка ему имейла
</p>

<table class="table table-bordered">
    <tr>
        <th>Название проекта</th>
        <th>Информация</th>
    </tr>
    @foreach (var project in Model)
    {
    <tr>
        @{
            var owner = project.UserProjects.First().User;
            var questionsWithoutAnswer = project.Questions.Count(q => q.Answer == null);
        }
        <td>
            <p style="text-align:center">
                <div class="btn-group btn-group-vertical">
                    @project.Name
                    <a class="btn btn-default" asp-controller="Panel" asp-action="Index" asp-route-projectId="@project.Id">Панель</a>
                </div>
            <p>
        </td>
        <td>
            Создатель проекта: @owner.Email <br />
            Кол-во участников: @project.UserProjects.Count() <br />
            Неотвеченных вопросов: @questionsWithoutAnswer / @project.Questions.Count()<br />
            Вопросов отвеченных системой: @project.Questions.Count(q => !q.AnsweredByHuman) <br />
        </td>
    </tr>
    }
</table>

<a asp-action="CreateProject">Создать новый проект</a>

<script>
</script>