@model List<Project>
@{
    ViewData["Title"] = "Главная страница";
}
@*
        <p>Проекты с которыми связан Ваш аккаунт.</p>
        <p style="font-style:italic">Eсли Вы не можете найти среди перечисленных нужный - запросите приглашение у создателя проекта!</p>
        <p style="color:yellowgreen">
            // TODO: тут будет появляться форма с вводом почты создателя проекта и проверки на сервере зареган ли он у нас и отправка ему имейла
    </p>
*@

<br/>
<p style="font-style:italic">Заметка: eсли Вы не можете найти среди перечисленных нужный - запросите приглашение у создателя проекта!</p>

<div class="row align-items-center">
    <div class="col-md-8">
        <h2>Список проектов</h2>
    </div>
    <div class="col-md-4 text-right">
        <a asp-action="CreateProject" class="btn btn-outline-success"><i class="fas fa-plus"></i> Создать новый проект</a>
    </div>

</div>

<hr />

<div class="row">
    @foreach (var project in Model)
    {
        var owner = project.UserProjects.First().User;
        var questionsWithoutAnswer = project.Questions.Count(q => q.Answer == null);
        var questionsAnsweredBySystem = project.Questions.Count(q => q.Answer != null && !q.AnsweredByHuman);

        <div class="col-md-4">

            <div class="card bg-light">
                <div class="card-body">
                    <h5 class="card-title">@project.Name</h5>
                    <p class="card-text">Создатель проекта: @owner.Email</p>
                    <p class="card-text">Кол-во участников: @project.UserProjects.Count()</p>
                    <p class="card-text">Неотвеченных вопросов: @questionsWithoutAnswer / @project.Questions.Count()</p>
                    <p class="card-text">Вопросов отвеченных системой: @questionsAnsweredBySystem</p>
                    <a class="card-link btn btn-sm btn-outline-info float-right" asp-controller="Panel" asp-action="Index" asp-route-projectId="@project.Id">Панель</a>
                </div>
            </div>
        </div>
    }
</div>





<script>
</script>